*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    height: 900vh;
}

/* INICIO HEADER */
.nav{
    background-color: #483527;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    border-radius: 0 0 40px 40px;
}

.img-logo{
    width: 250px;
    height: 250px;
    margin-top: 150px;
    transition: 0.6s;
}

.img-logo:hover{
    transform: scale(1.2);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
}

.nav-list a:hover{
    color: #ccae86;
}

.nav-list2 {
    display: flex;
    list-style: none;
}

.nav-list2 a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
}

.nav-list2 a:hover{
    color: #ccae86;
}
/* FIM HEADER */

/* INICIO MAIN */
.section{
    width: 100%;
    display: flex;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 180px;
    margin-left: 70px;
}

.main h1{
    color: #483527;
    font-size: 74px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    margin-left: 120px;
}

.main .btn-orcamento.ui-button {
    cursor: pointer;
    background-color: #ccae86;
    color: #483527;
    border: 0;
    padding: 4px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s;
    margin-left: 280px;
    margin-top: 40px;
}

.main .btn-orcamento.ui-button:hover {
    transform: scale(1.25);
}

.carousel {
    width: 400px;
    height: auto;
    margin-top: 80px;
    margin-right: 170px;
    z-index: 8;
    position: relative;
    transition: transform 0.4s ease;
}

.carousel .ui-carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    border: 15px outset #8a5e4c;
}

.carousel .ui-carousel-item {
    padding: 20px;
}

.carousel:hover {
    transform: scale(1.1);
}

.carousel .ui-carousel-indicator {
    display: none;
}

.ui-carousel .ui-carousel-prev,
.ui-carousel .ui-carousel-next {
    display: none !important;
}

.fundo-inicio {
    position: absolute;
    background-color: #483527;
    height: 200px;
    width: 100%;
    top: 520px;
    z-index: 1;
}

.fundo-inicio p{
    font-size: 24px;
    font-family: 'Lobster Two', sans-serif;
    font-style: italic;
    color: white;
    margin-top: 70px;
    margin-left: -690px;
    text-align: center
}
/* FIM MAIN */

/* INICIO BANNER */
.section2 {
    width: 100%;
    display: flex;
}

.carouselBanner {
    position: relative;
    top: 235px;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselBanner .ui-carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.carouselBanner .ui-carousel-item {
    padding: 20px;
}

.carouselBanner .ui-carousel-indicator {
    display: none;
}

.ui-carouselBanner .ui-carousel-prev,
.ui-carouselbanner .ui-carousel-next {
    display: none !important;
}
/* FIM BANNER */

/* INICIO CATEGORIA */
.section3{
    width: 100%;
}

.div-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 10px;
}

.div-rustico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-rustico:hover{
    transform: scale(1.1);
}

.div-sobmedida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-sobmedida:hover{
    transform: scale(1.1);
}

.img-categoria{
    width: 430px;
    height: 530px;
}

.fundo-categoria {
    background-color: #483527;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fundo-categoria h2 {
    margin: 0;
    font-family: 'Lobster Two', sans-serif;
    color: white;
    font-size: 28px;
}

.div-categoria2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.div-decoracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-decoracao:hover{
    transform: scale(1.1);
}

.div-descanso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-descanso:hover{
    transform: scale(1.1);
}

.img-categoria2{
    width: 650px;
    height: 400px;
}

.fundo-categoria2 {
    background-color: #483527;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fundo-categoria2 h2 {
    margin: 0;
    font-family: 'Lobster Two', sans-serif;
    color: white;
    font-size: 28px;
}

.fundo-btn-moveis{
    background-color: #483527;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.fundo-h1 {
    margin: 0;
    font-family: 'Lobster Two', sans-serif;
    color: white;
    font-size: 26px;
}

.btn-moveis.ui-button {
    cursor: pointer;
    background-color: #ccae86;
    color: #483527 !important;
    border: 0;
    padding: 4px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s;
    margin-top: 15px;
}

.btn-moveis.ui-button:hover {
    transform: scale(1.25);
    background-color: #ccae86 !important; /* Cor de destaque no hover */
}
/* FIM CATEGORIA */

/* INICIO SOBRE */
.section4 {
    width: 100%;
    display: flex;
}

.img-gif {
    margin: 0;
    width: 450px;
    height: 150px;
}

.conteiner-video{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-button: -10px
}

.div-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.fundo-sobre {
    background-color: #483527;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.titulo-h2 {
    color: white;
    font-size: 26px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.paragrafo {
    color: white;
    font-size: 20px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
/* FIM SOBRE */

/* INICIO DIFERENCIAL */
.section5 {
    width: 100%;
    display: flex;
}

.fundo-diferente{
    background-color: #483527;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.fundo-diferente-h2 {
    margin: 0;
    color: white;
    font-size: 26px;
    padding: 25px;
    font-size: 30px;
    font-family: 'Lobster Two', sans-serif;
}

.p-diferencial {
    color: white;
    margin: 30px;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
}

.p-diferencial::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: green;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
}
/* FIM DIFERENCIAL */

/* INICIO RESPONSIVIDADE */
@media (max-width: 1350px) {
    .fundo-inicio p{
        margin-left: -500px;
    }
}

@media (max-width: 1300px) {
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        width: auto;
        align-items: center;
        margin-top: 110px;
    }

    .main h1 {
        margin-left: -70px;
        margin-top: -05px;
    }

    .main .btn-orcamento.ui-button {
        margin-left: -75px;
        margin-top: 20px;
    }

    .carousel {
        margin: 0;
        margin-top: 20px;
        margin-right: 0;
    }

    .fundo-inicio {
        top: 890px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fundo-inicio p{
        margin-top: 0;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 1100px) {
    .carouselBanner {
        margin: 0;
        margin-top: 380px;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .img-logo{
        margin-top: 270px;
        position: absolute;
    }

    .main {
        width: auto;
        align-items: center;
        margin-top: 190px;
    }

    .carousel{
        margin-button: 500px;
    }

    .fundo-inicio {
        top: 970px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carouselBanner {
        margin: 0;
        margin-top: 330px;
        margin-right: 0;
    }
}

@media (max-width: 1620px) {
    .carouselBanner {
        margin: 0;
        top: 200px;
        margin-right: 0;
    }
}

@media (max-width: 1520px) {
    .carouselBanner {
        margin: 0;
        top: 200px;
        margin-right: 0;
    }
}

@media (max-width: 1420px) {
    .carouselBanner {
        margin: 0;
        top: 180px;
        margin-right: 0;
    }
}

@media (max-width: 1300px) {
    .carouselBanner {
        margin: 0;
        top: 280px;
        margin-right: 0;
    }
}

@media (max-width: 1200px) {
    .carouselBanner {
        margin: 0;
        top: 270px;
        margin-right: 0;
    }
}

@media (max-width: 1100px) {
    .carouselBanner {
        margin: 0;
        top: 260px;
        margin-right: 0;
    }
}

@media (max-width: 1000px) {
    .carouselBanner {
        margin: 0;
        top: 250px;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .carouselBanner {
        margin: 0;
        top: 240px;
        margin-right: 0;
    }
}

@media (max-width: 800px) {
    .carouselBanner {
        margin: 0;
        top: 230px;
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .carouselBanner {
        margin: 0;
        top: 220px;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .carouselBanner {
        margin: 0;
        top: 210px;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .carouselBanner {
        margin: 0;
        top: 200px;
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    .carouselBanner {
        margin: 0;
        top: 190px;
        margin-right: 0;
    }
}

@media(max-width: 1470px) {
    .img-categoria {
       width: 400px;
       height: 500px;
    }

    .img-categoria2 {
       width: 600px;
       height: 380px;
    }
}

@media(max-width: 1360px) {
    .img-categoria2 {
       width: 570px;
       height: 350px;
    }
}

@media (max-width: 1300px) {
    .div-categoria {
        margin-top: 100px;
        flex-direction: column;
        gap: 50px;
    }

    .img-categoria{
        width: 550px;
        height: 600px;
    }

    .div-categoria2 {
        flex-direction: column;
        gap: 50px;
    }

    .img-categoria2{
        width: 850px;
        height: 480px;
    }

    .btn-moveis.ui-button {
        padding: 3px;
        font-size: 16px;
        margin-top: 5px;
    }
}

@media (max-width: 900px) {
    .img-categoria2 {
       width: 550px;
       height: 350px;
    }
}

@media (max-width: 720px) {
    .img-categoria{
        width: 450px;
        height: 500px;
    }

    .img-categoria2 {
       width: 450px;
       height: 250px;
    }
}

@media (max-width: 540px) {
    .img-categoria{
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 1300px) {
    .div-video {
        flex-direction: column;
        margin-top: -10px;
    }
}

@media (max-width: 1483px) {
    .fundo-diferente{
        margin-top: 50px;
    }
}

@media (max-width: 1290px) {
    .fundo-diferente-h2{
        text-align: center;
    }
}

@media (max-width: 1030px) {
    .fundo-diferente{
        flex-direction: column;
    }

    .fundo-diferente-h2 {
        padding: 0;
        margin-top: 20px;
        font-size: 32px;
        border-bottom: 3px dashed #ccae86;
        padding-bottom: 10px;
    }

    .p-diferencial {
        font-size: 24px;
    }
}