*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* CONTATO FIXO */
.fixed {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.wppContato {
    width: 45px;
    height: auto;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.instaContato {
    width: 45px;
    height: 54x;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.wppContato:hover, .instaContato:hover {
    filter: brightness(0.5);
}
/* CONTATO FIXO */

/* INICIO HEADER */
.nav{
    background-color: #483527;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    border-radius: 0 0 40px 40px;
}

.img-logo{
    width: 250px;
    height: 250px;
    margin-top: 150px;
    transition: 0.6s;
}

.img-logo:hover{
    transform: scale(1.2);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
}

.nav-list a:hover{
    color: #ccae86;
}

.nav-list2 {
    display: flex;
    list-style: none;
}

.nav-list2 a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
}

.nav-list2 a:hover{
    color: #ccae86;
}
/* FIM HEADER */

/* INICIO MAIN */
.section{
    width: 100%;
    display: flex;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 180px;
    margin-left: 70px;
}

.main h1{
    color: #483527;
    font-size: 74px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    margin-left: 120px;
}

.main .btn-orcamento.ui-button {
    cursor: pointer;
    background-color: #ccae86;
    color: #483527;
    border: 0;
    padding: 4px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s;
    margin-left: 280px;
    margin-top: 40px;
}

.main .btn-orcamento.ui-button:hover {
    transform: scale(1.25);
}

.carousel {
    width: 370px;
    height: auto;
    margin-top: 80px;
    margin-right: 190px;
    z-index: 8;
    position: relative;
    transition: transform 0.4s ease;
}

.carousel .ui-carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.carousel .ui-carousel-item {
    padding: 20px;
}

.carousel:hover {
    transform: scale(1.1);
}

.carousel .ui-carousel-indicator {
    display: none;
}

.ui-carousel .ui-carousel-prev,
.ui-carousel .ui-carousel-next {
    display: none !important;
}

.fundo-inicio {
    position: absolute;
    background-color: #483527;
    height: 200px;
    width: 100%;
    top: 520px;
    z-index: 1;
}

.fundo-inicio p{
    font-size: 24px;
    font-style: italic;
    color: white;
    margin-top: 70px;
    margin-left: -690px;
    text-align: center
}
/* FIM MAIN */

/* INICIO CATEGORIA */
.section3{
    width: 100%;
}

.div-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 90px;
}

.div-rustico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-rustico:hover{
    transform: scale(1.1);
}

.div-sobmedida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-sobmedida:hover{
    transform: scale(1.1);
}

.img-categoria {
    width: 350px;
    height: 450px;
}

.fundo-categoria {
    background-color: #483527;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fundo-categoria h2 {
    margin: 0;
    color: white;
    font-size: 28px;
}

.div-categoria2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.div-decoracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-decoracao:hover{
    transform: scale(1.1);
}

.div-descanso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-descanso:hover{
    transform: scale(1.1);
}

.img-categoria2{
    width: 580px;
    height: 320px;
}

.fundo-categoria2 {
    background-color: #483527;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fundo-categoria2 h2 {
    margin: 0;
    color: white;
    font-size: 28px;
}

.fundo-btn-moveis{
    background-color: #483527;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.fundo-h1 {
    margin: 0;
    color: white;
    font-size: 26px;
}

.btn-moveis.ui-button {
    cursor: pointer;
    background-color: #ccae86;
    color: #483527 !important;
    border: 0;
    padding: 4px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s;
    margin-top: 15px;
}

.btn-moveis.ui-button:hover {
    transform: scale(1.25);
    background-color: #ccae86 !important;
}
/* FIM CATEGORIA */

/* INICIO SOBRE */
.section4 {
    width: 100%;
    display: flex;
}

.conteiner-video{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-button: -10px
}

.div-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.fundo-sobre {
    background-color: #483527;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.titulo-h2 {
    color: white;
    font-size: 26px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.paragrafo {
    color: white;
    font-size: 20px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
/* FIM SOBRE */

/* INICIO DIFERENCIAL */
.section5 {
    width: 100%;
    display: flex;
}

.fundo-diferente{
    background-color: #483527;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.fundo-diferente-h2 {
    margin: 0;
    color: white;
    font-size: 26px;
    padding: 25px;
    font-size: 30px;
}

.p-diferencial {
    color: white;
    margin: 30px;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
}

.p-diferencial::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: green;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
}
/* FIM DIFERENCIAL */

/* INICIO RODAPE */
.section6 {
    width: 100%;
}

.fundo-contato {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.fundo-diferente-h2 {
    margin: 0;
    color: white;
    font-size: 26px;
    padding: 25px;
    font-size: 30px;
}

.fundo-contato-h2 {
    color: black;
}

.div-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.img-whatsapp {
    width: 45px;
    height: auto;
    transition: filter 0.3s ease;
    margin-right: 40px;
}

.img-whatsapp:hover {
    filter: brightness(0.5);
}

.img-instagram  {
    width: 45px;
    height: auto;
    transition: filter 0.3s ease;
}

.img-instagram:hover {
    filter: brightness(0.5);
}

.conteiner-rodape {
    background-color: #483527;
    width: 100%;
    height: 280px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 60%
}

.logo-rodape {
    width: 220px;
    height: auto;
    padding: 0;
    margin: 0;
}

.mycoding-rodape {
    width: 120px;
    height: auto;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: filter 0.3s ease;
}

.mycoding-rodape:hover {
    filter: brightness(0.5);
}

.div-direito {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.p-direitos {
    color: white;
    font-size: 16px;
}
/* FIM RODAPE */

/* INICIO RESPONSIVIDADE */
@media (max-width: 1350px) {
    .fundo-inicio p{
        margin-left: -500px;
    }
}

@media (max-width: 1300px) {
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        width: auto;
        align-items: center;
        margin-top: 110px;
    }

    .main h1 {
        margin-left: -70px;
        margin-top: -05px;
    }

    .main .btn-orcamento.ui-button {
        margin-left: -75px;
        margin-top: 20px;
    }

    .carousel {
        margin: 0;
        margin-top: 20px;
        margin-right: 0;
    }

    .fundo-inicio {
        top: 890px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fundo-inicio p{
        margin-top: 0;
        text-align: center;
        margin-left: 0;
    }

    .fundo-inicio {
        margin-top: -20px;
    }

}

@media (max-width: 900px) {
    .div-rodape {
        flex-direction: row;
    }

    .img-logo{
        margin-top: 270px;
        position: absolute;
    }

    .main {
        width: auto;
        align-items: center;
        margin-top: 190px;
    }

    .carousel{
        margin-button: 500px;
    }

    .fundo-inicio {
        top: 970px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-categoria2 {
       width: 550px;
       height: 350px;
    }

    .btn-moveis.ui-button {
        margin-top: 10px;
    }
}

@media(max-width: 1470px) {
    .img-categoria {
       width: 400px;
       height: 500px;
    }

    .img-categoria2 {
       width: 600px;
       height: 380px;
    }
}

@media(max-width: 1360px) {
    .img-categoria2 {
       width: 570px;
       height: 350px;
    }
}

@media (max-width: 1300px) {
    .div-categoria {
        margin-top: 180px;
        flex-direction: column;
        gap: 50px;
    }

    .img-categoria {
        width: 350px;
        height: 450px;
    }

    .div-categoria2 {
        flex-direction: column;
        gap: 50px;
    }

    .img-categoria2 {
        width: 580px;
        height: 320px;
    }

    .btn-moveis.ui-button {
        padding: 3px;
        font-size: 16px;
        margin-top: 5px;
    }
}

@media (max-width: 720px) {
    .img-categoria {
        width: 450px;
        height: 500px;
    }

    .img-categoria2 {
       width: 450px;
       height: 250px;
    }

    .btn-moveis.ui-button {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .fundo-h1 {
        font-size: 22px;
    }

    .btn-moveis.ui-button {
        font-size: 16px;
    }

    .logo-rodape {
        width: 200px;
        height: auto;
    }

    .mycoding-rodape {
        width: 100px;
        height: auto;
    }

}

@media (max-width: 540px) {
    .img-categoria{
        width: 300px;
        height: 400px;
    }

    .fundo-categoria h2 {
        font-size: 22px;
    }

    .fundo-categoria2 h2 {
        font-size: 22px;
    }

}

@media (max-width: 1300px) {
    .div-video {
        flex-direction: column;
        margin-top: -10px;
    }
}

@media (max-width: 1483px) {
    .fundo-diferente{
        margin-top: 50px;
    }
}

@media (max-width: 1290px) {
    .fundo-diferente-h2{
        text-align: center;
    }
}

@media (max-width: 1030px) {
    .fundo-diferente{
        flex-direction: column;
    }

    .fundo-diferente-h2 {
        padding: 0;
        margin-top: 20px;
        font-size: 32px;
        border-bottom: 3px solid white;
        padding-bottom: 20px;
    }

    .p-diferencial {
        font-size: 24px;
    }
}

@media (max-width: 520px) {
    .nav-list a{
        padding: 15px;
        font-size: 28px;
    }

    .nav-list2 a{
        padding: 15px;
        font-size: 28px;
    }

    .img-logo {
        width: 200px;
        height: 200px;
        margin-top: 230px;
    }

    .main{
        align-items: center;
        text-align: center;
        margin-top: 145px;
    }

    .main h1{
        font-size: 50px;
    }

    .main .btn-orcamento.ui-button {
        padding: 4px;
        font-size: 18px;
        transition: 0.6s;
        margin-top: 20px;
    }

    .carousel {
        width: 320px;
        margin-top: 15px;
    }

    .fundo-inicio {
        top: 820px;
    }

    .fundo-inicio p{
        font-size: 22px;
        margin: 5px;
    }

    .div-categoria {
        gap: 10;
    }

    .img-categoria{
        width: 300px;
        height: 350px;
    }

    .img-categoria2{
        width: 300px;
        height: 200px;
    }

    .fundo-btn-moveis{
        width: 100%;
        height: 150px;
        margin-top: 40px;
    }

    .fundo-h1 {
        margin: 0px;
        font-size: 20px;
    }

    .btn-moveis.ui-button {
        padding: 3px;
        margin-top: 10px;
    }

    .img-gif {
        width: 300px;
        height: 100px;
    }

    .titulo-h2 {
        font-size: 20px;
    }

    .paragrafo {
        font-size: 16px;
        padding: 20px;
    }

    .fundo-diferente-h2 {
        font-size: 24px;
        padding: 10px;
    }

    .p-diferencial {
        margin: 20px;
        font-size: 20px;
        padding-left: 30px;
    }

    .p-diferencial::before {
        font-size: 28px;
    }

    .fundo-contato {
        margin-top: 10px;
        padding: 10px;
    }

    .div-contato {
        margin-top: 15px;
    }

    .img-whatsapp {
        width: 45px;
        margin-right: 40px;
    }

    .img-instagram  {
        width: 45px;
    }

    .logo-rodape {
        width: 200px;
        height: auto;
    }

    .mycoding-rodape {
        width: 100px;
        height: auto;
    }

    .fixed {
        gap: 5px;
        z-index: 1000;
    }

    .wppContato {
        width: 45px;
    }

    .instaContato {
        width: 45px;
        height: 36x;
    }
}

@media (max-width: 370px) {
    .nav-list a {
        padding: 8px;
        font-size: 24px;
    }

    .nav-list2 a{
        padding: 8px;
        font-size: 24px;
    }

    .fundo-sobre {
        padding: 15px;
        margin-left: 10%
        margin-right: 10%
    }

    .titulo-h2 {
        font-size: 18px;
    }

    .paragrafo {
        font-size: 12px;
        padding: 16px;
    }

    .fundo-btn-moveis{
        height: 160px;
    }

    .div-rodape {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 00;
        width: 100%
    }
}

@media (max-width: 500px) {
    .logo-rodape {
        width: 140px;
        height: auto;
    }

    .mycoding-rodape {
        width: 70px;
        height: auto;
    }

    .conteiner-rodape {
        height: 200px;
    }
}

/* ------------- PAGINA DE MÓVEIS ------------- */

/* CATALAGO GERAL */
.section-mesa {
    margin-top: 10px;
}

.fundo-titulo {
    width: 100%;
    height: 50px;
    background-color: #483527;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-conteiner-carousel {
    width: 100%;
    display: flex;
}

.carousel-container {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.carousel-container .ui-carousel-item img {
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.carousel-container .ui-carousel-item {
    padding: 10px;
}

.div-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nome {
    font-size: 22px;
    color: #007bff;
    font-weight: bold;
}

.preco {
    font-size: 20px;
    color: green;
}

.carousel-container .ui-carousel-prev,
.carousel-container .ui-carousel-next {
    opacity: 1 !important;
    visibility: visible !important;
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 20px !important;
}

.carousel-container .ui-carousel-prev:hover,
.ui-carousel .ui-carousel-next:hover {
    background-color: #0056b3 !important;
}

.carousel-container .ui-carousel-pagination {
    display: none !important;
}
/* CATALAGO GERAL */

/* BANCO */
.section-banco {
    margin-top: 10px;
}

.fundo-titulo-banco {
    width: 100%;
    height: 50px;
    background-color: #483527;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-conteiner-carousel-banco {
    width: 100%;
    display: flex;
}

.carousel-container-banco {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.carousel-container-banco .ui-carousel-item img {
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.carousel-container-banco .ui-carousel-item {
    padding: 10px;
}

.div-produto-banco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-descricao-banco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nome-banco {
    font-size: 22px;
    color: #007bff;
    font-weight: bold;
}

.preco-banco {
    font-size: 20px;
    color: green;
}

.carousel-container-banco .ui-carousel-prev,
.carousel-container-banco .ui-carousel-next {
    opacity: 1 !important;
    visibility: visible !important;
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 20px !important;
}

.carousel-container-banco .ui-carousel-prev:hover,
.ui-carousel-banco .ui-carousel-next:hover {
    background-color: #0056b3 !important;
}

.carousel-container-banco .ui-carousel-pagination {
    display: none !important;
}
/* BANCO */

/* VARIEDADES */
.section-variedades {
    margin-top: 10px;
}

.fundo-titulo-variedades {
    width: 100%;
    height: 50px;
    background-color: #483527;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-conteiner-carousel-variedades {
    width: 100%;
    display: flex;
}

.carousel-container-variedades {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.carousel-container-variedades .ui-carousel-item img {
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.carousel-container-variedades .ui-carousel-item {
    padding: 10px;
}

.div-produto-variedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-descricao-variedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nome-variedades {
    font-size: 22px;
    color: #007bff;
    font-weight: bold;
}

.preco-variedades {
    font-size: 20px;
    color: green;
}

.carousel-container-variedades .ui-carousel-prev,
.carousel-container-variedades .ui-carousel-next {
    opacity: 1 !important;
    visibility: visible !important;
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 20px !important;
}

.carousel-container-variedades .ui-carousel-prev:hover,
.ui-carousel-variedades .ui-carousel-next:hover {
    background-color: #0056b3 !important;
}

.carousel-container-variedades .ui-carousel-pagination {
    display: none !important;
}
/* VARIEDADES */

/* RESPONSIVIDADE */

@media (max-width: 900px) {
    .section-mesa {
        margin-top: 60px;
    }
}

@media (max-width: 580px) {
    .carousel-container .ui-carousel-item img {
        width: 250px;
    }

    .carousel-container .ui-carousel-prev,
    .carousel-container .ui-carousel-next {
        width: 30px !important;
        height: 30px !important;
    }

    .nome {
        font-size: 18px;
    }

    .preco {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    .carousel-container .ui-carousel-item img {
        width: 200px;
    }

    .nome {
        font-size: 16px;
    }

    .preco {
        font-size: 14px;
    }

    .fundo-contato-h2 {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .carousel-container .ui-carousel-item img {
        width: 200px;
    }

    .carousel-container .ui-carousel-prev,
    .carousel-container .ui-carousel-next {
        width: 25px !important;
        height: 25px !important;
    }

    .nome {
        font-size: 14px;
    }

    .preco {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .carousel-container .ui-carousel-item img {
        width: 170px;
    }

    .carousel-container .ui-carousel-prev,
    .carousel-container .ui-carousel-next {
        width: 25px !important;
        height: 25px !important;
    }

    .nome {
        font-size: 14px;
    }

    .preco {
        font-size: 12px;
    }
}

@media (max-width: 760px) {
    .carousel-container-banco .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 50px;
    }

    .carousel-container-variedades .ui-carousel-item img {
        width: 70%;
        height: auto;
        margin-left: 65px;
    }
}

@media (max-width: 580px) {
    .carousel-container-banco .ui-carousel-prev,
    .carousel-container-banco .ui-carousel-next {
        width: 30px !important;
        height: 30px !important;
    }

    .nome-banco {
        font-size: 18px;
    }

    .preco-banco {
        font-size: 16px;
    }

    .carousel-container-variedades .ui-carousel-prev,
    .carousel-container-variedades .ui-carousel-next {
        width: 30px !important;
        height: 30px !important;
    }

    .nome-variedades {
        font-size: 18px;
    }

    .preco-variedades {
        font-size: 16px;
    }
}

@media (max-width: 610px) {
    .carousel-container-banco .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 40px;
    }

    .carousel-container-variedades .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 40px;
    }
}

@media (max-width: 480px) {
    .carousel-container-banco .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 30px;
    }

    .carousel-container-variedades .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 35px;
    }
}

@media (max-width: 450px) {
    .carousel-container-banco .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 20px;
    }

    .carousel-container-variedades .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 25px;
    }
}

@media (max-width: 370px) {
    .carousel-container-variedades .ui-carousel-item img {
        width: 80%;
        height: auto;
        margin-left: 20px;
    }
}