*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* CONTATO FIXO */
.fixed {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.wppContato {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.instaContato {
    width: 54px;
    height: 54x;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.wppContato:hover, .instaContato:hover {
    filter: brightness(0.5);
}
/* CONTATO FIXO */

/* INICIO HEADER */
.nav{
    background-color: #483527;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    border-radius: 0 0 40px 40px;
}

.img-logo{
    width: 250px;
    height: 250px;
    margin-top: 150px;
    transition: 0.6s;
}

.img-logo:hover{
    transform: scale(1.2);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
}

.nav-list a:hover{
    color: #ccae86;
}

.nav-list2 {
    display: flex;
    list-style: none;
}

.nav-list2 a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
}

.nav-list2 a:hover{
    color: #ccae86;
}
/* FIM HEADER */

/* INICIO MAIN */
.section{
    width: 100%;
    display: flex;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 180px;
    margin-left: 70px;
}

.main h1{
    color: #483527;
    font-size: 74px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    margin-left: 120px;
}

.main .btn-orcamento.ui-button {
    cursor: pointer;
    background-color: #ccae86;
    color: #483527;
    border: 0;
    padding: 4px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s;
    margin-left: 280px;
    margin-top: 40px;
}

.main .btn-orcamento.ui-button:hover {
    transform: scale(1.25);
}

.carousel {
    width: 370px;
    height: auto;
    margin-top: 80px;
    margin-right: 190px;
    z-index: 8;
    position: relative;
    transition: transform 0.4s ease;
}

.carousel .ui-carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.carousel .ui-carousel-item {
    padding: 20px;
}

.carousel:hover {
    transform: scale(1.1);
}

.carousel .ui-carousel-indicator {
    display: none;
}

.ui-carousel .ui-carousel-prev,
.ui-carousel .ui-carousel-next {
    display: none !important;
}

.fundo-inicio {
    position: absolute;
    background-color: #483527;
    height: 200px;
    width: 100%;
    top: 520px;
    z-index: 1;
}

.fundo-inicio p{
    font-size: 24px;
    font-style: italic;
    color: white;
    margin-top: 70px;
    margin-left: -690px;
    text-align: center
}
/* FIM MAIN */

/* INICIO CATEGORIA */
.section3{
    width: 100%;
}

.div-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 90px;
}

.div-rustico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-rustico:hover{
    transform: scale(1.1);
}

.div-sobmedida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-sobmedida:hover{
    transform: scale(1.1);
}

.img-categoria{
    width: 430px;
    height: 530px;
}

.fundo-categoria {
    background-color: #483527;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fundo-categoria h2 {
    margin: 0;
    color: white;
    font-size: 28px;
}

.div-categoria2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.div-decoracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-decoracao:hover{
    transform: scale(1.1);
}

.div-descanso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.div-descanso:hover{
    transform: scale(1.1);
}

.img-categoria2{
    width: 650px;
    height: 400px;
}

.fundo-categoria2 {
    background-color: #483527;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fundo-categoria2 h2 {
    margin: 0;
    color: white;
    font-size: 28px;
}

.fundo-btn-moveis{
    background-color: #483527;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.fundo-h1 {
    margin: 0;
    color: white;
    font-size: 26px;
}

.btn-moveis.ui-button {
    cursor: pointer;
    background-color: #ccae86;
    color: #483527 !important;
    border: 0;
    padding: 4px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s;
    margin-top: 15px;
}

.btn-moveis.ui-button:hover {
    transform: scale(1.25);
    background-color: #ccae86 !important;
}
/* FIM CATEGORIA */

/* INICIO SOBRE */
.section4 {
    width: 100%;
    display: flex;
}

.conteiner-video{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-button: -10px
}

.div-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.fundo-sobre {
    background-color: #483527;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.titulo-h2 {
    color: white;
    font-size: 26px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.paragrafo {
    color: white;
    font-size: 20px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
/* FIM SOBRE */

/* INICIO DIFERENCIAL */
.section5 {
    width: 100%;
    display: flex;
}

.fundo-diferente{
    background-color: #483527;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.fundo-diferente-h2 {
    margin: 0;
    color: white;
    font-size: 26px;
    padding: 25px;
    font-size: 30px;
}

.p-diferencial {
    color: white;
    margin: 30px;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
}

.p-diferencial::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: green;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
}
/* FIM DIFERENCIAL */

/* INICIO RODAPE */
.section6 {
    width: 100%;
}

.fundo-contato {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.fundo-diferente-h2 {
    margin: 0;
    color: white;
    font-size: 26px;
    padding: 25px;
    font-size: 30px;
}

.fundo-contato-h2 {
    color: black;
}

.div-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.img-whatsapp {
    width: 70px;
    height: auto;
    transition: filter 0.3s ease;
    margin-right: 40px;
}

.img-whatsapp:hover {
    filter: brightness(0.5);
}

.img-instagram  {
    width: 75px;
    height: auto;
    transition: filter 0.3s ease;
}

.img-instagram:hover {
    filter: brightness(0.5);
}

.conteiner-rodape {
    background-color: #483527;
    width: 100%;
    height: 450px;
    margin-top: 20px;
}

.div-rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-rodape {
    width: 400px;
    height: auto;
    margin-right: 300px;
}

.mycoding-rodape {
    width: 450px;
    height: auto;
    cursor: pointer;
}

.div-direito {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-direitos {
    color: white;
    font-size: 24px;
}
/* FIM RODAPE */

/* INICIO RESPONSIVIDADE */
@media (max-width: 1350px) {
    .fundo-inicio p{
        margin-left: -500px;
    }
}

@media (max-width: 1300px) {
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        width: auto;
        align-items: center;
        margin-top: 110px;
    }

    .main h1 {
        margin-left: -70px;
        margin-top: -05px;
    }

    .main .btn-orcamento.ui-button {
        margin-left: -75px;
        margin-top: 20px;
    }

    .carousel {
        margin: 0;
        margin-top: 20px;
        margin-right: 0;
    }

    .fundo-inicio {
        top: 890px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fundo-inicio p{
        margin-top: 0;
        text-align: center;
        margin-left: 0;
    }

    .fundo-inicio {
        margin-top: -20px;
    }

}

@media (max-width: 900px) {
    .img-logo{
        margin-top: 270px;
        position: absolute;
    }

    .main {
        width: auto;
        align-items: center;
        margin-top: 190px;
    }

    .carousel{
        margin-button: 500px;
    }

    .fundo-inicio {
        top: 970px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1470px) {
    .img-categoria {
       width: 400px;
       height: 500px;
    }

    .img-categoria2 {
       width: 600px;
       height: 380px;
    }
}

@media(max-width: 1360px) {
    .img-categoria2 {
       width: 570px;
       height: 350px;
    }
}

@media (max-width: 1300px) {
    .div-categoria {
        margin-top: 180px;
        flex-direction: column;
        gap: 50px;
    }

    .img-categoria{
        width: 550px;
        height: 600px;
    }

    .div-categoria2 {
        flex-direction: column;
        gap: 50px;
    }

    .img-categoria2{
        width: 850px;
        height: 480px;
    }

    .btn-moveis.ui-button {
        padding: 3px;
        font-size: 16px;
        margin-top: 5px;
    }
}

@media (max-width: 900px) {
    .img-categoria2 {
       width: 550px;
       height: 350px;
    }

    .btn-moveis.ui-button {
        margin-top: 10px;
    }
}

@media (max-width: 720px) {
    .img-categoria{
        width: 450px;
        height: 500px;
    }

    .img-categoria2 {
       width: 450px;
       height: 250px;
    }

    .btn-moveis.ui-button {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .fundo-h1 {
        font-size: 22px;
    }

    .btn-moveis.ui-button {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .img-categoria{
        width: 300px;
        height: 400px;
    }

    .fundo-categoria h2 {
        font-size: 22px;
    }

    .fundo-categoria2 h2 {
        font-size: 22px;
    }

}

@media (max-width: 1300px) {
    .div-video {
        flex-direction: column;
        margin-top: -10px;
    }
}

@media (max-width: 1483px) {
    .fundo-diferente{
        margin-top: 50px;
    }
}

@media (max-width: 1290px) {
    .fundo-diferente-h2{
        text-align: center;
    }
}

@media (max-width: 1030px) {
    .fundo-diferente{
        flex-direction: column;
    }

    .fundo-diferente-h2 {
        padding: 0;
        margin-top: 20px;
        font-size: 32px;
        border-bottom: 3px solid white;
        padding-bottom: 20px;
    }

    .p-diferencial {
        font-size: 24px;
    }
}

@media (max-width: 1140px) {
    .logo-rodape {
        width: 400px;
        height: auto;
        margin-right: 200px;
    }
}

@media (max-width: 1040px) {
    .logo-rodape {
        width: 400px;
        height: auto;
        margin-right: 150px;
    }
}

@media (max-width: 950px) {
    .logo-rodape {
        width: 400px;
        height: auto;
        margin-right: 90px;
    }
}

@media (max-width: 900px) {
    .div-rodape {
        flex-direction: column;
    }

    .logo-rodape {
        width: 280px;
        height: auto;
        margin-right: 0;
    }

    .mycoding-rodape {
        width: 400px;
        height: auto;
        cursor: pointer;
    }
}

@media (max-width: 520px) {
    .nav-list a{
        padding: 15px;
        font-size: 28px;
    }

    .nav-list2 a{
        padding: 15px;
        font-size: 28px;
    }

    .img-logo{
        width: 200px;
        height: 200px;
        margin-top: 230px;
    }

    .main{
        align-items: center;
        text-align: center;
        margin-top: 145px;
    }

    .main h1{
        font-size: 50px;
    }

    .main .btn-orcamento.ui-button {
        padding: 4px;
        font-size: 18px;
        transition: 0.6s;
        margin-top: 20px;
    }

    .carousel {
        width: 320px;
        margin-top: 15px;
    }

    .fundo-inicio {
        top: 820px;
    }

    .fundo-inicio p{
        font-size: 22px;
        margin: 5px;
    }

    .div-categoria {
        gap: 10;
    }

    .img-categoria{
        width: 300px;
        height: 350px;
    }

    .img-categoria2{
        width: 300px;
        height: 200px;
    }

    .fundo-btn-moveis{
        width: 100%;
        height: 150px;
        margin-top: 40px;
    }

    .fundo-h1 {
        margin: 0px;
        font-size: 20px;
    }

    .btn-moveis.ui-button {
        padding: 3px;
        margin-top: 10px;
    }

    .img-gif {
        width: 300px;
        height: 100px;
    }

    .titulo-h2 {
        font-size: 20px;
    }

    .paragrafo {
        font-size: 16px;
        padding: 20px;
    }

    .fundo-diferente-h2 {
        font-size: 24px;
        padding: 10px;
    }

    .p-diferencial {
        margin: 20px;
        font-size: 20px;
        padding-left: 30px;
    }

    .p-diferencial::before {
        font-size: 28px;
    }

    .fundo-contato {
        margin-top: 10px;
        padding: 10px;
    }

    .div-contato {
        margin-top: 15px;
    }

    .img-whatsapp {
        width: 45px;
        margin-right: 40px;
    }

    .img-instagram  {
        width: 50px;
    }

    .logo-rodape {
        width: 250px;
    }

    .mycoding-rodape {
        width: 300px;
    }

    .p-direitos {
        color: white;
        font-size: 20px;
        margin-top: 40px;
    }

    .fixed {
        gap: 5px;
        z-index: 1000;
    }

    .wppContato {
        width: 50px;
    }

    .instaContato {
        width: 36px;
        height: 36x;
    }
}

@media (max-width: 370px) {
    .nav-list a{
        padding: 8px;
        font-size: 24px;
    }

    .nav-list2 a{
        padding: 8px;
        font-size: 24px;
    }

    .fundo-sobre {
        padding: 15px;
        margin-left: 10%
        margin-right: 10%
    }

    .titulo-h2 {
        font-size: 18px;
    }

    .paragrafo {
        font-size: 12px;
        padding: 16px;
    }

    .fundo-btn-moveis{
        height: 160px;
    }
}

/* ------------- PAGINA DE MÓVEIS ------------- */

.fundo-titulo{
    width: 100%;
    height: 50px;
    background-color: #483527;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8px;
}

/* Esconde os botões de navegação do paginator */
.ui-dataview .ui-button {
    display: none !important;
}

/* Centraliza o contêiner do p:dataView (a grade) */
.data-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estiliza os itens da visualização de dados */
.data-view .ui-dataview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

/* Estilo das imagens dentro de cada item de visualização */
.data-view .ui-dataview-item img {
    height: auto;
    object-fit: contain;
    margin-bottom: 24px;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom ao passar o mouse sobre a imagem */
.data-view .ui-dataview-item img:hover {
    transform: scale(1.1);
}

/* Adiciona um espaço entre o último div (preço) e o paginator */
.ui-dataview-item div:last-child {
    margin-bottom: 10px;
}

/* Estilo geral do paginator */
.ui-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo dos links de páginas dentro do paginator */
.ui-paginator .ui-paginator-pages {
    display: flex;
    justify-content: center;
}

/* Estilo dos botões "Previous" e "Next" no paginator */
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-next {
    font-size: 28px;
    color: black !important;
}

/* Estilo dos links de páginas padrão (não ativos) no paginator */
.ui-paginator .ui-paginator-pages .ui-state-default {
    font-size: 18px;
    color: black !important;
}

/* Estilo da página ativa no paginator */
.ui-paginator .ui-paginator-pages .ui-state-active {
    background-color: #007bff !important;
    color: white !important;
}

/* Estilo do nome da variedade (primeiro div dentro de cada item) */
.data-view .ui-dataview-item div:first-of-type {
    font-size: 22px;
    color: #007bff;
    font-weight: bold;
    margin-top: 5px;
}

/* Estilo do preço da variedade (segundo div dentro de cada item) */
.data-view .ui-dataview-item div:nth-of-type(2) {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 5px;
}
